<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"/>

    <h1 th:title="#{cart.title}"></h1>

    <div th:if="${cart.items.size() > 0}">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th th:text="#{cart.name}"></th>
                <th th:text="#{cart.count}"></th>
                <th th:text="#{cart.cost}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cart.items}">
                <td th:text="${item.product.title}"/>
                <td th:text="${item.quantity}"/>
                <td th:text="${item.cost}"/>
                <td>

                    <a th:href="@{'/products/cart/del/' + ${item.product.id}}" class="button" th:text="#{cart.button.del}"></a>

                </td>
            </tr>
            </tbody>
        </table>

        <h5 th:text="#{cart.h5} +' ' + ${cart.cost}"></h5>
        <br>
        <a class="btn btn-primary" th:href="@{/orders/create}" th:text="#{cart.button.create}"></a>
    </div>
    <div th:if="${cart.items.size() == 0}">
        <th th:text="#{cart.empty}">
    </div>
</div>
<div th:replace="footer :: footer" />
</body>
</html>