<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Spring Data Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="http://demos.creative-tim.com/fresh-bootstrap-table/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://demos.creative-tim.com/fresh-bootstrap-table/assets/js/bootstrap-table.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>

<div class="container_main">
    <div class="header">
        <h1>Каталог продуктов</h1>
    </div>
<div class="body">
   <div class="filter">
    

    <form th:action="@{/products/show}" method="GET">
        <div class="input-group">
            <input class="form-control" th:value="${param.minPrice}" name="minPrice"
                   type="number"
                   placeholder="Минимальная стоимость продукта"/>
            <input class="form-control" th:value="${param.maxPrice}" name="maxPrice"
                   type="number"
                   placeholder="Максимальная цена"/>

            <select name="category">
                <option th:each="category : ${categories}"
                        th:value="${category}"
                        th:text="${category}"
                        th:selected="${param.category}==${category}">
                </option>


            </select>

            <input class="button" type="submit" value="Применить фильтр"/>
        </div>
    </form>

</div>
   <div class="products">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Категория</th>
            <th scope="col">Описание</th>
            <th scope="col">Цена</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${page.content}">
            <th scope="row" th:text="${p.id}"></th>

            <td th:text="${p.category}"/>
            <td>
                <span style="font-weight: bold" th:text="${p.title}"/>
                <br>
                <span th:text="${p.description}"/>

            </td>
            <td th:text="${p.cost}"/>
            <td>
                <input class="button" type="submit" value="Редактировать"    />
                <input class="button" type="submit" value="Удалить"    />
            </td>
        </tr>
        </tbody>
    </table>

</div>
  </div>
   <div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link"
                   th:style="${page.getNumber()}== 0 ? 'pointer-events: none;':'pointer-events: auto;'"
                   th:href="@{'/products/show/?p=' + ${page.getPageable().getPageNumber()} + ${filtersDef}}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>


            <li class="page-item" th:classappend="${!(page.getNumber()+1== i) ? 'disable' : 'active'}"
                th:each="i : ${#numbers.sequence((page.getPageable().getPageNumber()==0 ? '1':page.getPageable().getPageNumber())
                                                ,( page.getPageable().getPageNumber()==(page.getTotalPages()-1)?
                                                (page.getPageable().getPageNumber()+1)
                                                 :(page.getPageable().getPageNumber()==page.getTotalPages() ? (page.getTotalPages()):(page.getPageable().getPageNumber()+2))))}">
                <a class="page-link" th:text="${i}" th:href="@{'/products/show?p=' + ${i} + ${filtersDef}}">1</a></li>

            <li class="page-item">
                <a class="page-link"
                   th:style="${page.getNumber()}==${page.getTotalPages()-1} ? 'pointer-events: none;':'pointer-events: auto;'"
                   th:href="@{'/products/show/?p=' + ${page.getPageable().getPageNumber()+2} + ${filtersDef}}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
    </div>
    
    <br>
    

<div class="footer">
    <a th:href="@{/}">на Главную страницу</a>
</div>
</div>
</body>
</html>