<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <title>Spring Data Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/style.css}" />
    <script th:src="@{../js/main.js}"></script>
</head>

<body>

<div class="container_main">
    <div th:replace="~{navigation :: navigation(Home)}" />
    <div class="header">
        <h1 th:text="#{catalog_prod.title}"></h1>
    </div>
<div class="body">
   <div class="filter">
    

    <form th:action="@{/products/show}" method="GET">
        <div class="input-group">
            <input class="form-control" th:value="${param.minPrice}" name="minPrice"
                   type="number"
                   th:placeholder="#{filters.price.min}"/>
            <input class="form-control" th:value="${param.maxPrice}" name="maxPrice"
                   type="number"
                   th:placeholder="#{filters.price.max}"/>
            <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<com.example.springboothw.entities.Product>"*/-->
            <!--/*@thymesVar id="p" type="com.example.springboothw.entities.Product"*/-->
            <select name="cat_id">
                <option th:text="#{filters.option}" th:value="null"/>
                <option th:each="category : ${categories}"
                        th:text="${category.title}" th:selected="${param.cat_id!=null && param.cat_id==category.id.toString()}"
                        th:value="${category.id}"
                        >
                </option>
            </select>

            <button type="submit" th:text="#{filters.apply}" class="button"></button>
            <a class="button" th:href="@{'/products/?p=1'}" th:text="#{filters.reset}"></a>

        </div>
    </form>

</div>
   <div class="products">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col" th:text="#{catalog_prod.category}"></th>
            <th scope="col" th:text="#{catalog_prod.description}"></th>
            <th scope="col" th:text="#{catalog_prod.price}"></th>
            <th sec:authorize="hasAnyRole('ADMIN')"  th:text="#{catalog_prod.edit}"></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${page.content}">
            <th scope="row" th:value="${p.id}"></th>

            <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<com.example.springboothw.entities.Product>"*/-->
            <!--/*@thymesVar id="p" type="com.example.springboothw.entities.Product"*/-->
            <td th:text="${p.category.title}"/>
            <td>
                <span style="font-weight: bold" th:text="${p.title}"/>
                <br>
                <span th:text="${p.description}"/>

            </td>
            <td th:text="${p.cost}"/>
            <td>
                <a th:href="@{'/products/open/' + ${p.id}}" methods="GET" class="button"
                   th:text="#{order_form.open}"></a>
            </td>
            <td>
                <button class="button btnPost" th:name="'button'+${p.id}"  th:value="${p.id}" th:text="#{catalog_prod.addCart}"></button>
            </td>
            <td sec:authorize="hasAnyRole('ADMIN')">
                <a th:href="@{'/products/edit/' + ${p.id}}" class="button" th:text="#{catalog_prod.editCart}"></a>
            </td>
        </tr>
        </tbody>
    </table>
       <label id="lblCounter" th:text="#{catalog_prod.count}"></label>
       <a th:href="@{'/products/cart/show'}" class="button" th:text="#{catalog_prod.openCart}"></a>

</div>
  </div>
   <div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link"
                   th:style="${page.getNumber()}== 0 ? 'pointer-events: none;':'pointer-events: auto;'"
                   th:href="@{'/products/show?p=' + ${page.getPageable().getPageNumber()} + ${filtersDef}}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>


            <li class="page-item" th:classappend="${!(page.getNumber()+1== i) ? 'disable' : 'active'}"
                th:each="i : ${#numbers.sequence((page.getPageable().getPageNumber()==0 ? '1':page.getPageable().getPageNumber())
                                                ,( page.getPageable().getPageNumber()==(page.getTotalPages()-1)?
                                                (page.getPageable().getPageNumber()+1)
                                                 :(page.getPageable().getPageNumber()==page.getTotalPages() ? (page.getTotalPages()):(page.getPageable().getPageNumber()+2))))}">
                <a class="page-link" th:text="${i}" th:href="@{'/products/show?p=' + ${i} + ${filtersDef}}">1</a></li>

            <li class="page-item">
                <a class="page-link"
                   th:style="${page.getNumber()==(page.getTotalPages()-1)} ? 'pointer-events: none;':'pointer-events:auto;' "
                   th:href="@{'/products/show?p=' + ${page.getPageable().getPageNumber()+2} + ${filtersDef}}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
    </div>
    
    <br>

    <div>
        <table>
            <tr th:each="c: ${cookies}">
                <td th:text="${c.getName()}"></td>
                <td th:text="${c.getValue()}"></td>
            </tr>
        </table>
    </div>
    <div th:replace="footer :: footer"/>



</div>
</body>
</html>