<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../css/style.css}" />
     <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="header">
            <ul class="menu" >
                <li class="menu__list"><a href="#" class="menu__link menu__link_active">HOME</a></li>
                <li class="menu__list"><a href="#" class="menu__link">PRODUCTS</a></li>
                <li class="menu__list"><a href="#" class="menu__link">HISTORY</a></li>
                <li class="menu__list"><a href="#" class="menu__link">SHOWROOM</a></li>
                <li class="menu__list"><a href="#" class="menu__link">CONTACT</a></li>
            </ul>
        </div>
    </header>
    <!--================Header Menu Area =================-->

</body></html>