<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title th:text="#{feedback.title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<form th:action="@{/products/reviews/}" method="POST" th:object="${review}">
    <input hidden="true" th:name="*{product}" th:value="*{product}" th:field="*{product}" />
    <input hidden="true" th:name="*{user}" th:value="*{user}" th:field="*{user}" />
    <input hidden="true" th:name="*{id}" th:value="*{id}" th:field="*{id}" />
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th >ID product</th>
            <th th:text="#{feedback.title}"></th>
            <th th:text="#{feedback.category}"></th>
            <th th:text="#{feedback.description}"></th>
            <th th:text="#{feedback.cost}"></th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="*{product.id}"></td>
            <td th:text="*{product.title}"/>
            <td th:text="*{product.getCategory().title}"/>
            <td th:text="*{product.description}"/>
            <td th:text="*{product.cost}"/>
        </tr>
        </tbody>
    </table>


    <div class="form-row">

        <input th:field="*{description}" type="text" class="form-control" placeholder="Напишите отзыв не более 255 зн">

    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block" >Сохранить</button>
    </div>
</form>
<div th:replace="footer :: footer" />
</body>
</html>
